.sovereign-details {
    border: 0;
}

.help-text {
    display: inline-block;
    margin-bottom: 10px;
}

.world-select {
    margin-bottom: 25px;
}

.ms-Stack pre {
    overflow-x: auto;
    padding: 10px;
    margin-top: 10px !important;
}
