.forum-generator .sovereign-details {
    border: 0;
}

.forum-generator .help-text {
    display: inline-block;
    margin-bottom: 10px;
}

.forum-generator .world-select {
    margin-bottom: 25px;
}

.forum-generator .ms-Stack pre {
    overflow-x: auto;
    padding: 10px;
    margin-top: 10px !important;
}
