.api-display .card-list .ms-List-page {
    display: flex;
}

.api-display .ms-List[role="treegrid"] .ms-List-page,
.api-display .ms-List[role="treegrid"] .ms-List-surface {
    width: 95vw;
}

.api-display .ms-List[role="list"] .ms-List-page {
    justify-content: center;
}

.api-display .ms-List[role="list"] .ms-List-page .ms-List-cell,
.api-display .ms-List[role="treegrid"] .ms-List .ms-List-page .ms-List-cell {
    width: 304px;
    display: flex;
}

.api-display .ms-List-cell .emoji {
    width: 12px;
    height: 12px;
}

@media (max-width: 600px) {
    .api-display .api-display-search {
        width: 100%;
    }

    .api-display .ms-List[role="treegrid"] .ms-List .ms-List-page {
        justify-content: center;
    }
}
