.ms-Image.logo img {
    width: 300px;
    height: 300px;
}

.api-card .ms-CardSection > :not(:first-child) {
    margin-top: 0;
}

.atlas-control {
    padding: 5px;
    background-color: #f4f4f4;
}
